/* common */
html, body {width:100%; height:100%;}
#wrap{position:relative; width:100%; min-height: 100%; overflow: hidden; background:#161618;}


/* main */
#page__main {position:relative; width:100%; height:100vh; display:flex; align-items:center; justify-content:center; overflow: hidden; z-index:0;}
.main__bg-video {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); min-width:100%; min-height:100%; width:auto; height:auto; mix-blend-mode: luminosity; opacity: 0.18; z-index:-1;}
.main__head {position:absolute; left:0; top:0; display:flex; align-items:center; justify-content: space-between; width:100%; box-sizing:border-box; padding:2rem;}
.main__head h1{margin-right:auto;}
.main__head h1 a{display: block; width:4.8rem; height:4.8rem; background:url(../img/logo.svg) 0 0 no-repeat; background-size:cover;}
.main__head .main__ui-lang button{width:4.8rem; height:4.8rem; border-radius:4.8rem; background:#fff; color:#000; font-weight:700;}
.main__content {text-align:center;}
.main__content-ttl p{font-size:5rem; font-weight:900; line-height:1.4;}
.main__content-btn {margin-top:3.6rem;}
.main__content-btn button{display:block; margin:0 auto; width:24rem; height:5rem; border-radius:5rem; background:#282830; color:#9e9eb1; font-weight:500;}
.main__content-btn .btn_download{margin-top:3.6rem; background:linear-gradient(270deg,#5b05ea,#0242d0); color:#fff;}
.main__content-btn .btn_riot{margin-top:1.2rem;}
.main__content-btn .btn_riot::before{content:''; display:inline-block; width: 2.4rem; height: 2.4rem; background:url(../img/riot.svg) 0 0 no-repeat; background-size:cover; vertical-align: middle; margin-right:1rem;}
.main__content-scroll {max-width:23rem; margin:4.8rem auto 0; font-size:1.2rem; line-height:1.4;}
.main__scroll-btn{display:block; margin:6rem auto 0;}
.main__scroll-btn > .animation {position:relative; display:block; width:1px; height:6rem; background:rgba(255,255,255, 0.3); margin:0 auto; overflow: hidden;}
.main__scroll-btn > .animation::before{content:''; position:relative; top:-3rem; display:block; width:1px; height:3rem; background:rgba(255,255,255, 0.7); animation:scroll 2s infinite;}
.main__scroll-btn span{display: block; font-size:1.2rem; line-height:1.4; margin-top:1.6rem; font-weight:700;}
@keyframes scroll {
	0% {top:-3rem;}
	100% {top:6rem;}
}


/* page__ui */
#page__ui {width:120rem; margin:12rem auto;}
.ui__ttl p{font-size:5rem; font-weight:900; line-height:1.4;}
.ui__ttl span{display:block; font-size:1.2rem; margin-top:2rem;}
.ui__slide {margin-top:8.8rem;}
.ui__slide-btn {position:absolute; left:50%; transform:translateX(-50%); width:100%; height:4.4rem; height:4.4rem; overflow: hidden;}
.ui__slide-btnwrap {position:absolute; left:calc(50% - 19.5rem);}
.ui__slide-btn button{width:19rem; height:4.4rem; line-height:4.4rem; border-radius:4.4rem; color:#7b7a8e; background:#1b1b1d;}
.ui__slide-btn button::after{content:''; display:inline-block; width:0; height:1px; background:#fff; vertical-align: middle; margin-left:1rem; transition:width .3s;}
.ui__slide-btn button.on {background:linear-gradient(78deg,#ab02d0,#05d0ea); color:#fff; margin:0 10rem;}
.ui__slide-btn button.on::after {width:4rem;}
.ui__slide-panel {padding-top:12rem; width:76.8rem; margin:0 auto;}
.ui__slide-item {position:relative; width:76.8rem; height:43.2rem; background:url(../img/ui_bg.png) 0 0 no-repeat; background-size:cover;}
.ui__slide-item .item{position:absolute; right:1.6rem; bottom:1.6rem; display:block; width:61.2rem; height:33.9rem; background-position:0 0; background-repeat:no-repeat; background-size:cover;}
.ui__slide-item .item.item01{background-image:url(../img/ui_1.png);}
.ui__slide-item .item.item02{background-image:url(../img/ui_2.png);}
.ui__slide-item .item.item03{background-image:url(../img/ui_3.png);}
.ui__slide-item .item.item04{width:64.6rem; height:37.3rem; right:0; background-image:url(../img/ui_4.png);}